<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SQLiteConnection" connectionString="Data Source=db\blog.db;" providerName="System.Data.SQLite" />
		<add name="SqlServerConnection" connectionString="Data Source=BlogDb;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add name="DbProvider" value="SQLite"/>	
	</appSettings>
</configuration>